{
  "printWidth": 110,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "singleQuote": true,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "semi": true,
  "endOfLine": "lf",
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "importOrder": ["^#(.*)$", "^[./]", "^~(.*)"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}